@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* slider */
.slider-round.noUiSlider {
  height: 10px;
  margin-top: 4px;
}

.slider-round .noUi-connect {
    background: #0075ff;
}

.slider-round.noUi-horizontal .noUi-handle {
    height: 18px;
    width: 18px;
    top: -5px;
    right: -9px; /* half the width */
    border-radius: 9px;
}

.slider-round .noUi-handle {
  background: #0075ff;
  box-shadow: none;
}

.slider-round .noUi-handle::before {
  display: none;
}

.slider-round .noUi-handle::after {
  display: none;
}
/* slider */