.drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  font-family: sans-serif;
}

.drop-area.highlight {
  border-color: purple;
}

canvas.drop-area {
  border: none;
  border-radius: 0px;
}

canvas.highlight {
  border: 4px dashed purple;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 20px;
}